*{
    padding: 0%;
    margin: 0%;
    letter-spacing: 2px;
}
body{
    background: url(../../login/fondo.jpg);
    background-attachment: fixed;
    background-size: 100vh 100vw;
}

section{
    background: rgba(34, 98, 158, 0.863);
    border: solid 2px rgb(216, 180, 21);
    border-radius: 10px;
    padding: 50px;
    box-sizing: border-box;
    width: 50%;
    margin: 100px auto;
}
#preguntas{
    margin:10px auto;
    text-align: center;
    background: rgba(235, 201, 49, 0.705);
    padding: 20px;
    border: solid 2px rgb(238, 195, 5);
    border-radius: 20px;
    font-size: 30px;
}
#respuestas{
    background: rgba(0, 0, 0, 0.192);
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}
.B{
    box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0);
    border-radius: 40px;
    transition: box-shadow 0.4s;

}
.Btn{
    display: block;
    background: rgba(202, 186, 37, 0.801);
    padding: 10px;
    margin: 20px 10px;
    border-radius: 10px;
    text-align: center;
    color: black;
    transition: font-size 0.4s;
    font-size: 20px;
}
.B:hover{
    box-shadow: 0px 0px 0px 0px rgb(223, 204, 29, 0.863);
    background: rgba(223, 204, 29, 0.863);
    cursor: pointer;
    
}
.Btn:hover{
    background: rgba(223, 204, 29, 0.863);
    font-size: 22px;
}

.Btn:active{
    box-shadow: black 1px 1px 5px;
    background: rgba(236, 213, 0, 0.363);
    color:white;
    cursor: pointer;
}
